@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

h1 {
    font-family: 'Rubik Mono One', Arial;
    font-style: italic;
}

h2 {
    font-size: 55px;
    font-family: 'Rubik Mono One', Arial;
    color: blue;
}
p, li, tr, td {
    font-size: 30px;
    font-family: 'Rubik';
}
h3  {
    font-size: 45px;
    color: green;
    font-family: 'Rubik';
}
li {
    display: inline;
    font-family: 'Rubik', Arial;
    font-size: 40px;
    background: burlywood;
    border: chocolate solid 10px;
  }

.imagenlado {
   float: right;
  }
.imagendelado {
    float: left;
   }

td {
    border: black solid 5px;
    font-size: 50px;
    text-align: center;
   }
th {
    border: royalblue solid 10px;
    font-size: 50px;
    text-align: center;
    background:burlywood;
   }
table {
    margin: auto;
}

.tachado {
    text-decoration: line-through;
}

/*linea fea */
a:link, a:visited, a:active {
    text-decoration:none;
}

/*fondo bandera*/
body {
    background: rgb(210,16,241);
    background: linear-gradient(90deg, rgba(210,16,241,1) 0%, rgba(10,232,231,1) 0%, rgba(0,187,255,1) 100%);
}